In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [4]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [5]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [6]:
df.set_index('email', inplace = True)

In [7]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [8]:
df.loc['JaneDoe@email.com']

first    Jane
last      Doe
Name: JaneDoe@email.com, dtype: object

In [9]:
 df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [10]:
df.reset_index(inplace = True)

In [11]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [12]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [13]:
filt = (df['last'] == 'Doe')

In [14]:
df[filt]

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [15]:
df.loc[filt]

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [16]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [17]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [18]:
 df.columns = ['email', 'first_name', 'last_name']

In [19]:
df.columns = [x.upper() for x in df.columns]

In [20]:
df.columns = df.columns.str.replace('_', ' ')

In [21]:
df

                     EMAIL FIRST NAME LAST NAME
0  CoreyMSchafer@gmail.com      Corey   Schafer
1        JaneDoe@email.com       Jane       Doe
2        JohnDoe@email.com       John       Doe

In [22]:
df.columns = [x.lower() for x in df.columns]

In [23]:
df.rename(columns = {'email' : 'personal email'}, inplace = True)

In [24]:
df

            personal email first name last name
0  CoreyMSchafer@gmail.com      Corey   Schafer
1        JaneDoe@email.com       Jane       Doe
2        JohnDoe@email.com       John       Doe

In [25]:
df = df.iloc[:, [2, 1, 0]]

In [26]:
df

  last name first name           personal email
0   Schafer      Corey  CoreyMSchafer@gmail.com
1       Doe       Jane        JaneDoe@email.com
2       Doe       John        JohnDoe@email.com

In [27]:
df.loc[0, ['last name', 'first name']] = ['t', 'Tin']

In [28]:
df

  last name first name           personal email
0         t        Tin  CoreyMSchafer@gmail.com
1       Doe       Jane        JaneDoe@email.com
2       Doe       John        JohnDoe@email.com

In [29]:
df.loc[df['first name'] == 'Tin', 'last name'] = 'Nguyen'

In [30]:
df

  last name first name           personal email
0    Nguyen        Tin  CoreyMSchafer@gmail.com
1       Doe       Jane        JaneDoe@email.com
2       Doe       John        JohnDoe@email.com

In [31]:
df = df.iloc[:, [0,1,2]]

In [32]:
df

  last name first name           personal email
0    Nguyen        Tin  CoreyMSchafer@gmail.com
1       Doe       Jane        JaneDoe@email.com
2       Doe       John        JohnDoe@email.com

In [33]:
df

  last name first name           personal email
0    Nguyen        Tin  CoreyMSchafer@gmail.com
1       Doe       Jane        JaneDoe@email.com
2       Doe       John        JohnDoe@email.com

In [34]:
df['personal email'] = df['personal email'].str.lower()

In [35]:
df['personal email'].apply(len)

0    23
1    17
2    17
Name: personal email, dtype: int64

In [36]:
def update_email(email):
    return email.upper()

In [37]:
df

  last name first name           personal email
0    Nguyen        Tin  coreymschafer@gmail.com
1       Doe       Jane        janedoe@email.com
2       Doe       John        johndoe@email.com

In [38]:
df['personal email'] = df['personal email'].apply(update_email)

In [39]:
df

  last name first name           personal email
0    Nguyen        Tin  COREYMSCHAFER@GMAIL.COM
1       Doe       Jane        JANEDOE@EMAIL.COM
2       Doe       John        JOHNDOE@EMAIL.COM

In [40]:
df['email'] = df['email'].apply(lambda x : x.lower())

KeyError: 'email'

In [ ]:
df

In [ ]:
df.applymap(len)

In [ ]:
df.apply(len)

In [ ]:
df.apply(lambda x : x.min())

In [ ]:
df

In [ ]:
df['last name'] = df['last name'].replace({'Nguyen':'Tran'})

In [ ]:
df

In [ ]:
df.apply(len)

In [ ]:
df['full name'] = df['first name'] + ' ' + df['last name']

In [ ]:
df

In [ ]:
df['index'] = ' '

In [ ]:
df

In [ ]:
df.drop(columns =['index'], inplace = True)

In [ ]:
df

In [ ]:
df['full name'].str.split(' ', expand = True)

In [ ]:
df

In [ ]:
df.drop(columns = ['last name', 'first name'], inplace = True)

In [ ]:
df

In [ ]:
df[['first', 'last']] = df['full name'].str.split(' ', expand = True)

In [ ]:
df

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
df2 =

In [ ]:
df2

In [ ]:
new_row = pd.DataFrame({'last' : ['Tran']})
df2 = pd.concat([df2, new_row], ignore_index = True, sort = False)

In [ ]:
df2

In [ ]:
df2.drop(index=[3, 4, 5, 6, 7], inplace = True)

In [ ]:
df2

In [ ]:
filt = df2['first'] == 'Jane'
df2.drop(index = df[filt].index, inplace = True)

In [ ]:
df2

In [ ]:
df.loc[1]

In [ ]:
new_row = pd.DataFrame({'personal email': ['tintokaka@gmail.com'], 'first': ['tin'], 'last': ['nguyen']})
df = pd.concat([df, new_row])

In [ ]:
df

In [ ]:
df.drop(columns = 'email',inplace = True)

In [ ]:
df

In [ ]:
df.drop(index = [0, 2])

In [ ]:
new_row = pd.DataFrame({'personal email': ['tintokaka@gmail.com'], 'first': ['tin'], 'last': ['nguyen']})
df = pd.concat([df, new_row])

In [ ]:
df

In [ ]:
df = df[df['personal email'].isnull()]

In [41]:
df

  last name first name           personal email
0    Nguyen        Tin  COREYMSCHAFER@GMAIL.COM
1       Doe       Jane        JANEDOE@EMAIL.COM
2       Doe       John        JOHNDOE@EMAIL.COM